# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
.venv/

# Editor / IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Backup / temporary files
*~
*.log

# Unused files
old/

# Qt / PyQt Designer temporary files
*.py~
*.qrc~
*.ui~