QMainWindow {
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

QStatusBar {
  background-color: rgb(53, 56, 73);
}

QMenuBar {
  background-color: rgb(29, 29, 29);
  color: white;
}

QMenuBar::item:selected {
  background-color: rgb(92, 95, 112);
}

QMenuBar::item:pressed {
  background-color: rgb(67, 70, 88);
}

QMenu::item:selected {
  background-color: rgb(92, 95, 112);
}

QMenu::item:pressed {
  background-color: rgb(67, 70, 88);
}

QDockWidget {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

QListWidget {
  background-color: rgba(0, 0, 0, 0.3);
}

QWidget#buttons_container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

QPushButton {
  background-color: rgba(0, 0, 0, 0.6);
}

QPushButton:hover {
  border: 1px solid white;
}

QPushButton:hover:pressed {
  background-color: black !important;
}

QPushButton#play_pause_button {
  image: url("./images/play_disabled.png");
  border-radius: 25px;
  padding: 8px 8px 8px 12px;
}

QPushButton#ten_backward_button {
  image: url("./images/ten_backward_disabled.png");
  border-radius: 21px;
  padding: 10px;
}

QPushButton#ten_forward_button {
  image: url("./images/ten_forward_disabled.png");
  border-radius: 21px;
  padding: 10px;
}

QPushButton#previous_button {
  image: url("./images/previous_disabled.png");
  border-radius: 19px;
  padding: 8px;
}

QPushButton#next_button {
  image: url("./images/next_disabled.png");
  border-radius: 19px;
  padding: 8px;
}

QPushButton#shuffle_button {
  image: url("./images/shuffle_off.png");
  border-radius: 15px;
  padding: 7px;
}

QPushButton#repeat_button {
  image: url("./images/repeat_none.png");
  border-radius: 15px;
  padding: 7px;
}

QPushButton#volume_button {
  image: url("./images/volume_on.png");
  border-radius: 15px;
  padding: 7px;
}

QScrollBar:vertical {
    background: transparent;
    width: 4px;
    margin: 0px;
}

QScrollBar:vertical:hover {
    background: rgba(0, 0, 0, 80);
}

QScrollBar::handle:vertical {
    background: #5c22b9;
    border-radius: 10px;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover {
    background: #7866c2;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}
